<%= provide :title, t("title.item.bill") %>

<div class="container">

<h2>
  <div class="flex">
    <%= t("title.item.bill") %>
    <p class="ml-8"><%= @bill[:name] %></p>
    <p class="ml-4"><%= @bill[:period_text] %></p>
  </div>
</h2>
<div class="flex justify-end">
  <%= button_to "戻る", item_sheet_path(params[:year], params[:month]), method: :get, class: "btn btn-cancel py-2 px-4" %>
</div>
<!--search form-->
<%= form_with url: item_bill_path(student_id: params[:student_id], year: params[:year], month: params[:month]), method: :get, local: true do |f| %>
  <h3>項目の検索</h3>
  <div class="flex items-center mb-4">
    <p class="mx-4">コードで検索</p>
    <%= f.telephone_field :code, {size: 4} %>
    <%= f.submit t(".search"), class: "btn btn-flat ml-2 py-2 px-4" %>
  </div>
<% end %>
<!--search result-->
<% unless @new_item.nil? %>
  <%= render partial: "shared/search_item_result", locals: {new_item: @new_item} %>
<% end %>
<!--registered item-->
<% if @bill[:item_present] %>
  <h3>登録</h3>
  <div class="table-frame mt-4 mb-20 bg-white">
    <table class="my-4 w-full">
    <thead>
    <tr class="text-85 dotted-bottom">
      <th class="item-code"><%= t("item_master.code") %></th>
      <th><%= t("item_master.name") %></th>
      <th><%= t("item_master.description") %></th>
      <th class="item-category"><%= t("item_master.category") %></th>
      <th class="item-price"><%= t("item_master.price") %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if @bill[:qty].any? %>
      <% @bill[:qty].each do |item| %>
        <%= render partial: "shared/bill_item", locals: {item: item} %>
      <% end %>
      <tr class="dotted-bottom">
        <td></td>
        <td class="pr-2 py-2"><%= @bill[:qty].count %>講座</td>
        <td></td>
        <td></td>
        <td class="pr-2 py-2 text-right"><%= number_to_currency(@bill[:qty_price]) %></td>
        <td></td>
      </tr>
    <% end %>
    <% if @bill[:single].any? %>
      <% @bill[:single].each do |item| %>
        <%= render partial: "shared/bill_item", locals: {item: item} %>
      <% end %>
    <% end %>
    <% if @bill[:admin].any? %>
      <% @bill[:admin].each do |item| %>
        <%= render partial: "shared/bill_item", locals: {item: item} %>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="pr-2 pt-2 pb-6 text-center font-bold">小計</td>
      <td class="pr-2 pt-2 pb-6 text-right font-bold"><%= number_to_currency(@bill[:subtotal]) %></td>
      <td></td>
    </tr>
    <% if @bill[:discount].any? %>
      <thead>
      <tr class="text-85 dotted-bottom">
        <th class="item-code"><%= t("item_master.code") %></th>
        <th><%= t("item_master.name") %></th>
        <th><%= t("item_master.description") %></th>
        <th class="item-category"><%= t("item_master.category") %></th>
        <th class="item-price"><%= t("item_master.price") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @bill[:discount].each do |item| %>
        <%= render partial: "shared/bill_item", locals: {item: item} %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="pr-2 pt-2 pb-6 text-center font-bold">小計</td>
        <td class="pr-2 pt-2 pb-6 text-right font-bold"><%= number_to_currency(@bill[:dtotal]) %></td>
        <td></td>
      </tr>
    <% end %>
    <tbody>
    <tr class="solid-top">
      <td class="item-code"></td>
      <td></td>
      <td></td>
      <td class="pr-2 pt-2 pb-6 text-center font-bold">合計</td>
      <td class="pr-2 pt-2 pb-6 text-right font-bold"><%= number_to_currency(@bill[:total]) %></td>
      <td></td>
    </tr>
    </tbody>
    </table>
  </div>
<% else %>
  <div class="flex notice mt-4 rounded justify-center">
    <p class="py-4 px-10">項目が登録されていません。</p>
  </div>
<% end %>
</div>