<%= provide :title, t("title.item.dashboard") %>

<div class="container">
<h2><%= t("title.item.dashboard") %></h2>
<h3><%= t(".book") %></h3>
<div class="table-frame bg-white p-4 mb-20">
<table class="w-full">
<thead>
<tr>
  <th><%= t("item.date") %></th>
  <th><%= t("item.student_amount") %></th>
  <th><%= t("item.price_total") %></th>
</tr>
</thead>
<tbody>
<% if current_user.students.any? && current_user.item_masters.any? %>
  <tr class="dotted-bottom">
    <td colspan="3">
      <% if @book.empty? %>
        <p class="pl-2 py-2"><%= t(".item_empty") %></p>
      <% end %>
      <%= form_with url: item_before_sheet_path, method: :get do |f| %>
        <div class="flex justify-center items-center py-4">
          <p class="mx-2"><%= t(".yearmonth")%></p>
          <%= f.telephone_field :year, {size: 4, value: Date.current.strftime("%Y")} %>
          <p class="px-2">/</p>
          <%= f.telephone_field :month, {size: 2, value: Date.current.strftime("%m")} %>
          <%= f.submit t(".new"), class: "btn ml-8 py-2 px-8" %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
  </tr>
  <% @book.each do |sheet| %>
    <tr class="dotted-bottom">
      <td class="pl-2 text-center">
        <%= link_to sheet[:path], class: "underline text-blue-500 font-bold" do %>
          <%= sheet[:text] %>
        <% end %>
      </td>
      <td class="text-center">
        <%= sheet[:belongs] %>
        <%= t("student.index.people") %>
      </td>
      <td class="text-right pr-4 font-bold">
        <%= number_to_currency(sheet[:total]) %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td>生徒または項目が登録されていません。</td>
  </tr>
<% end %>
</tbody>
</table>
</div>

</div>
