<%= provide :title, t("title.item.dashboard") %>

<div class="container">

<h2><%= t(".book") %></h2>

<% if @students.empty? %>
  <p><%= t(".student_empty") %></p>
<% end %>
<% if @item_masters.empty? %>
  <p><%= t(".item_master_empty") %></p>
<% end %>
<div class="table-frame">
<table class="w-full">
<thead>
<tr>
  <th><%= t("item.date") %></th>
  <th><%= t("item.student_amount") %></th>
  <th><%= t("item.item_total") %></th>
</tr>
</thead>
<tbody>
<tr>
<% if @students.present? && @item_masters.present? && @items.empty? %>
  <td colspan="3">
    <p class="pl-2 py-2"><%= t(".item_empty") %></p>
    <%= form_with url: item_index_path, method: :get do |f| %>
      <div class="flex justify-center items-center pb-4">
        <%= f.telephone_field :year, {size: 4, value: Date.current.strftime("%Y")} %>
        <p class="mx-2"><%= t("datetime.prompts.year")%></p>
        <%= f.telephone_field :month, {size: 2, value: Date.current.strftime("%m")} %>
        <p class="mx-2"><%= t("datetime.prompts.month")%></p>
        <%= f.submit t(".new"), class: "btn ml-8 py-2 px-8" %>
      </div>
    <% end %>
  </td>
<% end %>
</tr>
</tbody>
</table>
</div>

</div>
