<%= provide :title, t("title.item.index") %>

<div class="container">

<h2><%= t("title.item.index") %></h2>

<div class="flex items-center">
  <p class="ml-4"><%= @year %></p>
  <p class="mx-2"><%= t("datetime.prompts.year")%></p>
  <p><%= @month %></p>
  <p class="mx-2"><%= t("datetime.prompts.month")%></p>
</div>

<div class="flex justify-between items-center mb-2">
  <% unless @students.count == 0 %>
    <p class="font-bold"><%= t("student.index.students_amount") %> : <span><%= @students.count %></span><%= t("student.index.people") %></p>
    <div class="flex">
      <p class="mr-2"><%= t("student.sort") %></p>
      <% if params[:class_name] == "asc" %>
        <p class="mx-2"><%= link_to t("student.class_name"), item_index_path(class_name: "desc") %></p>
      <% elsif params[:class_name] == "desc" || params[:class_name].nil? %>
        <p class="mx-2"><%= link_to t("student.class_name"), item_index_path(class_name: "asc") %></p>
      <% end %>
      <% if params[:grade] == "asc" %>
        <p class="mx-2"><%= link_to t("student.grade"), item_index_path(grade: "desc") %></p>
      <% elsif params[:grade] == "desc" || params[:grade].nil? %>
        <p class="mx-2"><%= link_to t("student.grade"), item_index_path(grade: "asc") %></p>
      <% end %>
    </div>
  <% end %>
  <%= link_to "戻る", dashboard_path, class: "btn btn-cancel py-2 px-4" %>
</div>

<div class="table-frame mb-20 bg-white">
<table class="w-full my-4">
<thead>
<tr class="text-85">
  <th><%= t("student.class_name") %></th>
  <th><%= t("student.name") %></th>
  <th><%= t("student.kana") %></th>
  <th><%= t("student.grade") %></th>
  <th><%= t("student.items") %></th>
</tr>
</thead>
<tbody>
<% @students.each do |student| %>
  <tr>
    <td class="px-2"><%= student.class_name %></td>
    <td class="font-bold underline pr-2">
      <%= link_to student.family_name + " " + student.given_name, new_item_path(id: student.hashid), class: "text-blue-500" %>
    </td>
    <td class="pr-2"><%= student.family_name_kana + " " + student.given_name_kana %></td>
    <td class="pr-2"><%= @grade_name[student.grade] %></td>
    <td class="pr-2">[未設定]</td>
  </tr>
<% end %>
</tbody>
</table>
</div>

</div>

