<%= provide(:title, t("title.student.edit")) %>
<%= render "shared/input_errors", model: @stu %>

<div class="container">

<h2><%= t("title.student.edit") %></h2>
<div class="flex justify-end">
  <p>
    <%= "#{t("created_at")}:#{@stu.created_at.strftime("%Y-%m-%d")}" %>
    <%= "#{t("updated_at")}:#{@stu.updated_at.strftime("%Y-%m-%d")}" %>
  </p>
</div>

<hr class="my-4"/>
<%= form_with model: @stu,
      url: student_path(@stu.hashid),
      method: :patch do |f| %>
  <%= render "shared/student_form", f: f %>
  <div class="flex justify-center items-center mt-4 mb-10">
    <%= f.submit t(".update"),
          class: "btn mr-4 py-2 px-8",
          data: {confirm: t(".update_confirmation")} %>
    <%= link_to t("cancel"), student_path(@stu.hashid),
          class: "btn btn-cancel py-2",
          data: {confirm: t(".cancel_confirmation")} %>
  </div>
<% end %>

</div>