<%= provide :title, t("title.student.index") %>

<div class="container">

<div class="flex justify-between">
	<% unless @students.count == 0 %>
		<p class="font-bold"><%= t(".number_of_students") %> : <span><%= @students.count %></span><%= t(".people") %></p>
		<div>
			<%= link_to t(".registration"), new_student_path, class:"btn py-2 px-8" %>
		</div>
	<% end %>
</div>

<%= render "shared/select_students", link_path: student_index_path %>

<div class="table-frame mb-20 bg-white">
<table class="row-striped w-full my-4">
<thead>
<tr class="text-85">
	<th><%= t("student.class_name") %></th>
	<th><%= t("student.name") %></th>
	<th><%= t("student.kana") %></th>
	<th><%= t("student.gender") %></th>
	<th><%= t("student.grade") %></th>
	<th><%= t("student.school_belong_to") %></th>
	<th><%= t("student.items") %></th>
	<th><%= t("student.phone1") %></th>
	<th><%= t("student.phone1_belong_to") %></th>
	<th><%= t("student.phone2") %></th>
	<th class="pr-2"><%= t("student.phone2_belong_to") %></th>
</tr>
</thead>
<tbody>
<% if @students.count == 0 %>
	<tr>
		<td colspan="11">
			<div class="flex justify-center mt-4">
				<div class="form-box p-8">
					<p class="text-center mb-8"><%= t(".students_empty") %></p>
					<p class="text-center"><%= link_to t(".registration"), new_student_path, class:"btn py-4 px-10" %></p>
				</div>
			</div>
		</td>
	</tr>
<% else %>
	<% @students.each do |student| %>
		<tr>
			<td class="px-2"><%= student.class_name %></td>
			<td class="font-bold underline pr-2">
				<%= link_to student.family_name + " " + student.given_name, student_path(id: student.hashid), class: "text-blue" %>
			</td>
			<td class="pr-2"><%= student.family_name_kana + " " + student.given_name_kana %></td>
			<td class="pr-2"><%= student.gender %></td>
			<td class="pr-2"><%= student.grade %></td>
			<td class="pr-2"><%= student.school_belong_to %></td>
			<td class="pr-2">[未設定]</td>
			<td class="pr-2"><%= student.phone1 %></td>
			<td class="pr-2"><%= student.phone1_belong_to %> </td>
			<td class="pr-2"><%= student.phone2 %></td>
			<td class="pr-2"><%= student.phone2_belong_to %> </td>
		</tr>
	<% end %>
<% end %>
</tbody>
</table>
</div>

</div>