<%= provide :title, t("title.student.index") %>

<div class="container">

<div class="flex justify-between items-center mb-2">
  <p class="font-bold"><%= "#{t(".students_amount")} : #{@stus.count} #{t(".people")}" %></p>
  <div class="flex">
    <p class="mr-2"><%= t("student.sort") %></p>
    <p class="mx-2"><%= link_to t("student.class_name"), student_index_path(class_name: @class_name_order) %></p>
    <p class="mx-2"><%= link_to t("student.grade"), student_index_path(grade: @grade_order) %></p>
  </div>
  <div>
    <%= link_to t(".registration"), new_student_path, class: "btn py-2 px-8 mr-4" %>
    <%= link_to t(".expired"), student_expired_path, class: "btn btn-cancel py-2 px-8" %>
  </div>
</div>

<div class="table-frame mb-8 bg-white">
<table class="w-full my-4">
<thead>
<tr class="text-85 dotted-bottom">
  <th><%= t("student.class_name") %></th>
  <th><%= t("student.name") %></th>
  <th><%= t("student.kana") %></th>
  <th><%= t("student.gender") %></th>
  <th><%= t("student.grade") %></th>
  <th><%= t("student.school_belong_to") %></th>
  <th><%= t("student.phone1") %></th>
  <th><%= t("student.phone1_belong_to") %></th>
  <th><%= t("student.phone2") %></th>
  <th class="pr-2"><%= t("student.phone2_belong_to") %></th>
</tr>
</thead>
<tbody>
<% if @stus.count == 0 %>
  <tr>
    <td colspan="11">
      <div class="flex justify-center my-8">
        <div class="form-box p-4">
          <p class="text-center"><%= t(".students_empty") %></p>
        </div>
      </div>
    </td>
  </tr>
<% else %>
  <% @stus.each do |stu| %>
    <tr class="dotted-bottom">
      <td class="px-2"><%= stu[:class_name] %></td>
      <td class="font-bold underline pr-2">
        <%= link_to "#{stu[:family_name]} #{stu[:given_name]}", student_path(id: stu.hashid), class: "text-blue-500" %>
      </td>
      <td class="pr-2"><%= "#{stu[:family_name_kana]} #{stu.given_name_kana}" %></td>
      <td class="pr-2 text-center"><%= stu[:gender] %></td>
      <td class="pr-2"><%= @grade_name[stu[:grade]] %></td>
      <td class="pr-2"><%= stu[:school_belong_to] %></td>
      <td class="pr-2"><%= stu[:phone1] %></td>
      <td class="pr-2"><%= stu[:phone1_belong_to] %> </td>
      <td class="pr-2"><%= stu[:phone2] %></td>
      <td class="pr-2"><%= stu[:phone2_belong_to] %> </td>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
</div>

<% unless @stus.count == 0 %>
  <h2>生徒の進級</h2>
  <p>生徒の学年を1つ上の学年に一括して変更します。未就学および既卒の生徒の学年は変更されません。また、進級させると一括してもとに戻すことはできません。それぞれの生徒について、生徒の編集画面から学年を再度設定して下さい。</p>
  <div class="flex justify-center mt-4 mb-20">
    <%= link_to "卒・退会者を除く生徒を進級",
          student_promote_path(include: "current"),
          method: :patch,
          class: "btn btn-cancel py-2 px-4 mr-4",
          data: {confirm: "進級させてもよろしいですか。"} %>
    <%= link_to "卒・退会者を含むすべての生徒を進級",
          student_promote_path(include: "all"),
          method: :patch,
          class: "btn btn-cancel py-2 px-4",
          data: {confirm: "進級させてもよろしいですか。"} %>
  </div>
<% end %>

</div>