<%= provide :title, "#{@student_full_name} | #{t("title.student.show")}" %>

<div class="container">

<h2><%= t("title.student.show") %></h2>

<div class="flex justify-between pt-12 pb-4">
  <div>
    <%= link_to t(".edit"), edit_student_path(@student.hashid), class: "btn py-2 px-4" %>
    <%= link_to t(".edit_siblings"), sibling_path(@student.hashid), class: "btn py-2 px-4" %>
  </div>
  <%= link_to t(".delete"), student_path(@student.hashid),
              class:"btn py-2 px-4",
              data: {confirm: t(".delete_confirmation")}, method: :delete %>
</div>
<div class="flex justify-evenly bg-white">
  <div class="p-4">
    <table>
      <tr>
        <td><%= t("student.start_date") %>:</td>
        <td class="font-bold"><%= @student[:start_date] %></td>
      </tr>
      <tr>
        <td><%= t("student.class_name") %>:</td>
        <td class="font-bold"><%= @student[:class_name] %></td>
      </tr>
      <tr>
        <td><%= t("student.name") %>:</td>
        <td class="font-bold"><%= @student[:family_name] + " " + @student[:given_name] %></td>
      </tr>
      <tr>
        <td><%= t("student.kana") %>:</td>
        <td class="font-bold"><%= @student[:family_name_kana] + " " + @student[:given_name_kana] %></td>
      </tr>
      <tr>
        <td><%= t("student.gender") %>:</td>
        <td class="font-bold"><%= @student[:gender] %></td>
      </tr>
      <tr>
        <td><%= t("student.birth_date") %>:</td>
        <td class="font-bold"><%= @student[:birth_date] %></td>
      </tr>
      <tr>
        <td><%= t("student.school_belong_to") %>:</td>
        <td class="font-bold"><%= @student[:school_belong_to] %></td>
      </tr>
      <tr>
        <td><%= t("student.grade") %>:</td>
        <td class="font-bold"><%= @student[:grade] %></td>
      </tr>
      <tr>
        <td><%= t("student.guardian_name") %>:</td>
        <td class="font-bold"><%= @student[:guardian_family_name] + " " + @student[:guardian_given_name] %></td>
      </tr>
      <tr>
        <td><%= t("student.kana") %>:</td>
        <td class="font-bold"><%= @student[:guardian_family_name_kana] + " " + @student[:guardian_given_name_kana] %></td>
      </tr>
    </table>
  </div>
  <div class="p-4">
    <table>
      <tr>
        <td><%= t("student.phone1") %>:</td>
        <td class="font-bold"><%= @student[:phone1] %></td>
      </tr>
      <tr>
        <td><%= t("student.belong") %>:</td>
        <td class="font-bold"><%= @student[:phone1_belong_to] %></td>
      </tr>
      <tr>
        <td><%= t("student.phone2") %>:</td>
        <td class="font-bold"><%= @student[:phone2] %></td>
      </tr>
      <tr>
        <td><%= t("student.belong") %>:</td>
        <td class="font-bold"><%= @student[:phone2_belong_to] %></td>
      </tr>
      <tr>
        <td><%= t("student.postal_code") %>:</td>
        <td class="font-bold"><%= @student[:postal_code] %></td>
      </tr>
      <tr>
        <td><%= t("student.address") %>:</td>
        <td class="font-bold"><%= @student[:address] %></td>
      </tr>
      <tr>
        <td><%= t("student.email") %>:</td>
        <td class="font-bold"><%= @student[:email] %></td>
      </tr>
      <tr>
        <td><%= t("student.user_name") %>:</td>
        <td class="font-bold"><%= @student[:user_name] %></td>
      </tr>
      <tr>
        <td><%= t("student.password") %>:</td>
        <td class="font-bold"><%= @student[:password] %></td>
      </tr>
      <tr>
        <td><%= t("student.remarks") %>:</td>
        <td class="font-bold"><%= @student[:remarks] %></td>
      </tr>
    </table>
  </div>
</div>

<% unless @siblings.count == 1 %>
  <div class="mt-4 p-4 bg-white">
    <p><%= t(".siblings") %></p>
    <% @siblings.each do |sibling| %>
      <% unless sibling.hashid == @student.hashid %>
        <div class="flex">
          <p class="font-bold ml-4 mr-4"><%= sibling[:family_name] + " " + sibling[:given_name] %></p>
          <p class="mr-4"><%= sibling[:family_name_kana] + " " + sibling[:given_name_kana] %></p>
          <p><%= t("student.class_name") %>:</p>
          <p class="mr-4"><%= sibling[:class_name] %></p>
          <p><%= t("student.grade") %>:</p>
          <p><%= sibling[:grade] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

</div>