<p>検索結果</p>
<div class="table-frame bg-white mt-4 mb-6">
<table class="my-4 w-full">
<thead>
<tr class="text-85">
<th class="item-code"><%= t("item_master.code") %></th>
<th><%= t("item_master.name") %></th>
<th><%= t("item_master.description") %></th>
<th class="item-category"><%= t("item_master.category") %></th>
<th class="item-price"><%= t("item_master.price") %></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
    <td class="pr-2 text-right"><%= new_item[:code] %></td>
    <td class="pr-2"><%= new_item[:name] %></td>
    <td class="pr-2"><%= new_item[:description] %></td>
    <td class="pr-2 text-center">
    <p class=<%= "#{@item_cat_colors[new_item[:category]]}" %>><%= @item_cats[new_item[:category]] %></p>
    </td>
    <td class="pr-2 text-right">
      <% if new_item[:category] == 1 %>
        <p>-</p>
      <% else %>
        <%= number_to_currency(new_item[:price]) %>
      <% end %>
    </td>
    <td class="pr-2 text-center">
    <%= button_to "追加", create_item_path, method: :post, params: {student_id: params[:student_id], code: new_item[:code], year: params[:year], month: params[:month]}, class: "btn py-2 px-4" %>
    </td>
</tr>
</tbody>
</table>
</div>