<!-- 生徒の抽出 -->
<div class="flex items-center">
	<p class="pr-2">所属クラス</p>
	<%= form_with url: link_path, method: :get, class: "select-mini", local: true do |f| %>
		<%= f.select :class_name, @class_list,
			selected: @class_name, include_blank: "選択して下さい" %>
		<%= f.submit "選択", class: "mr-2 btn btn-flat" %>
	<% end %>
	<p class="pr-2">学年</p>
	<%= form_with url: link_path, method: :get, class: "select-mini", local: true do |f| %>
		<%= f.select :grade, @grades, selected: @grade, include_blank: "選択して下さい" %>
		<%= f.submit "選択", class: "mr-2 btn btn-flat" %>
	<% end %>
	<%= link_to "すべて表示", link_path, class: "btn btn-flat" %>
</div>

