<%= provide(:title, current_user.username) %>

<div class="container">

<table>
<tbody>
<tr>
  <td class="pr-4"><%= t(".school_name") %></td>
  <td><%= current_user.username %></td>
</tr>
<tr>
  <td class="pr-4"><%= t(".email") %></td>
  <td><%= current_user.email %></td>
</tr>
<tr>
  <td class="pr-4"><%= t(".created_at") %></td>
  <td><%= current_user.created_at.strftime(t("date.formats.long")) %></td>
</tr>
</tbody>
</table>

<h2><%= t(".destroy_header") %></h2>
<p><%= t(".destroy_description") %>
<div class="flex justify-end">
  <%= link_to  t(".destroy"), user_registration_path,
      method: :delete, class: "btn btn-cancel my-4 mr-4 py-2 px-4" %>
</div>

</div>