<%= provide :title, t("title.sibling.show") %>

<div class="container">

<h2 class="mb-4"><%= t("title.sibling.show") %></h2>

<div class="flex mb-4">
  <p><%= t("student.name") %>:</p>
  <p class="font-bold pr-6"><%= @student[:family_name] + " " + @student[:given_name] %></p>
  <p><%= t("student.class_name") %>:</p>
  <p class="font-bold pr-6"><%= @student[:class_name] %></p>
  <p><%= t("student.grade") %>:</p>
  <p class="font-bold pr-6"><%= @grades[@student[:grade]] %></p>
</div>

<div class="flex justify-center">
    <%= render partial: "shared/sibling_sort" %>
</div>

<div class="table-frame mb-20 bg-white">
<table class="row-striped w-full my-4">
  <thead class="table-head">
  <tr>
  <th><%= t("student.class_name") %></th>
  <th><%= t("student.siblings") %></th>
  <th><%= t("student.name") %></th>
  <th><%= t("student.kana") %></th>
  <th><%= t("student.gender") %></th>
  <th><%= t("student.grade") %></th>
  <th><%= t("student.school_belong_to") %></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <% unless student.hashid == @student.hashid %>
      <% if @student[:sibling_group] == student[:sibling_group] %>
        <tr class="bg-pink-200">
      <% else %>
        <tr>
      <% end %>
      <td class="px-2"><%= student[:class_name] %></td>
      <td class="text-center">
        <% if @student[:sibling_group] == student[:sibling_group] %>
          <%= button_to t(".sibling_destroy"),
            sibling_path, {method: :delete, class: "btn btn-flat-cancel px-1",
            params: {id: @student.hashid, sibling_id: student.hashid}}
          %>
        <% else %>
          <%= button_to t(".sibling_create"),
            sibling_path, {method: :patch, class: "btn btn-flat px-1",
            params: {id: @student.hashid, sibling_id: student.hashid, sibling_group: @student[:sibling_group]}}
          %>
        <% end %>
      </td>
      <td class="font-bold mr-2">
        <%= student[:family_name] + " " + student[:given_name] %>
      </td>
      <td class="pr-2"><%= student[:family_name_kana] + " " + student[:given_name_kana] %></td>
      <td class="pr-2"><%= student[:gender] %></td>
      <td class="pr-2"><%= @grades[student[:grade]] %></td>
      <td class="pr-2"><%= student[:school_belong_to] %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>

</div>