<%= provide :title, t(".title") %>

<div class="container mx-8 pt-4">

<h2 class="mb-4"><%= t(".title") %></h2>

<div class="flex mb-4">
  <p><%= t("student.name") %>:</p>
  <p class="font-bold pr-6"><%= @student[:family_name] + " " + @student[:given_name] %></p>
  <p><%= t("student.class_name") %>:</p>
  <p class="font-bold pr-6"><%= @student[:class_name] %></p>
  <p><%= t("student.grade") %>:</p>
  <p class="font-bold pr-6"><%= @student[:grade] %></p>
</div>

<%= render "shared/select_students", link_path: sibling_path %>

<table class="row-striped w-full bm-4 mb-8">
  <thead class="table-head">
  <tr>
  <th><%= t("student.class_name") %></th>
  <th><%= t("student.siblings") %></th>
  <th><%= t("student.name") %></th>
  <th><%= t("student.kana") %></th>
  <th><%= t("student.gender") %></th>
  <th><%= t("student.grade") %></th>
  <th><%= t("student.school_belong_to") %></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <% unless student[:id] == @student[:id] %>
      <tr>
      <td><%= student[:class_name] %></td>
      <td class="text-center">
        <% if @student[:sibling_group] == student[:sibling_group] %>
          <%= button_to "設定を解除",
            sibling_path, {method: :delete, class: "btn btn-flat-cancel px-1",
            params: {id: @student[:id], sibling_id: student[:id]}}
          %>
        <% else %>
          <%= button_to "設定",
            sibling_path, {method: :patch, class: "btn btn-flat px-1",
            params: {id: @student[:id], sibling_id: student[:id], sibling_group: @student[:sibling_group]}}
          %>
        <% end %>
      </td>
      <td class="font-bold">
        <%= student[:family_name] + " " + student[:given_name] %>
      </td>
      <td><%= student[:family_name_kana] + " " + student[:given_name_kana] %></td>
      <td><%= student[:gender] %></td>
      <td><%= student[:grade] %></td>
      <td><%= student[:school_belong_to] %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

</div>