<%= provide :title, "ダッシュボード" %>

<div class="container">

<h2>ダッシュボード</h2>

<hr/>

<% if @ledgers.present? %>

  <table class="row-striped">
  <thead>
    <tr>
      <td></td>
      <td class="text-center">生徒数</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="flex justify-center items-center pl-4">
        <p class="mr-4 text-gray-700">前月の名簿を引き継いで新しい台帳を作成</p>
        <%= button_to "新規作成", ledger_index_path, method: :post, class: "btn mb-2", params: {year: @ledger_dates.first.next_month.year, month:@ledger_dates.first.next_month.month}, data: {confirm: "台帳を作成もよろしいですか？"} %>
      </td>
    </tr>
  <% @ledger_dates.each do |d| %>
    <tr>
      <td class="text-center"><%= d.year %>年<%= d.month %>月</td>
      <td class="text-center"><%= @ledgers.where(ledger_date: d).count %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

<% else %>
  <p>台帳が存在しません。年月を入力して最初の台帳を作成しましょう。</p>
    <%= form_with model: @ledger, url: ledger_index_path, method: "post" do |f| %>
      <div class="flex items-center">
        <%= f.telephone_field :year, size:4, class: "p-1 border-2 rounded align-middle", id: "year" %>
        <p>年</p>
        <%= f.telephone_field :month, size:2, class: "p-1 border-2 rounded align-middle", id: "year" %>
        <p>月</p>
        <%= f.submit "新規作成", class: "btn text-white bg-teal-500 py-2 px-4 mr-4", data: {confirm: "台帳を作成もよろしいですか？"} %>
      </div>
    <% end %>
<% end %>

</div>
