<%= provide :title, t("title.item_master.setting") %>

<div class="container">

<h2><%= t("title.item_master.setting") %></h2>
<h3>従量課金</h3>
<p>講座数に応じた料金設定</p>
<%= form_with scope: :prices, url: qty_price_update_path, method: :patch, local:true do |f| %>
<div class="flex justify-center">
<table>
<tr>
  <th>1講座</th>
  <th>2講座</th>
  <th>3講座</th>
  <th>4講座</th>
</tr>
<tr>
  <td><%= f.telephone_field nil, size: 8, id: "price1", class: "p-1", value: @prices[0] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price2", class: "p-1", value: @prices[1] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price3", class: "p-1", value: @prices[2] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price4", class: "p-1", value: @prices[3] %></td>
</tr>
<tr>
  <th>5講座</th>
  <th>6講座</th>
  <th>7講座</th>
  <th>8講座</th>
</tr>
<tr>
  <td><%= f.telephone_field nil, size: 8, id: "price5", class: "p-1", value: @prices[4] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price6", class: "p-1", value: @prices[5] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price7", class: "p-1", value: @prices[6] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price8", class: "p-1", value: @prices[7] %></td>
</tr>
<tr>
  <th>9講座</th>
  <th>10講座</th>
  <th>11講座</th>
  <th>12講座</th>
</tr>
<tr>
  <td><%= f.telephone_field nil, size: 8, id: "price9", class: "p-1", value: @prices[8] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price10", class: "p-1", value: @prices[9] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price11", class: "p-1", value: @prices[10] %></td>
  <td><%= f.telephone_field nil, size: 8, id: "price12", class: "p-1", value: @prices[11] %></td>
</tr>
</table>
</div>
<div class="flex justify-center items-center mt-8">
<%= f.submit "更新", class: "btn mr-4 py-2 px-8", data: {confirm: "価格を更新してもよろしいですか？"} %>
<%= link_to "キャンセル", item_master_index_path, class: "btn btn-cancel py-2 px-4" %>
<% end %>

</div>